.carousel__dot--0 {
  background-color: #0062ff;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  margin: 1%;
}

.carousel__dot--1 {
  background-color: #0062ff;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  margin: 1%;
}

.carousel__dot--selected {
  background-color: #8db2ee;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  margin: 1%;
}
