body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
}

a:link,
a:visited {
  color: blue;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  color: black;
  text-decoration: underline;
}

.menuButton:active {
  transform: scale(1.2, 1.2);
}

.flyoutMenu.show {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(126, 126, 126);
  position: absolute;
  top: 0vh;
  left: 0;
  right: 0;
  transition: 1.8s ease;
  z-index: 1000;
  border-bottom: 2px solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: black;
}

.flyoutMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}
